<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-fluid">
       <div class="row">
           <div class="col bg-One">
               <h1>Product One</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque doloremque accusamus ab dolorum dignissimos placeat expedita est similique fugit, facilis natus porro sapiente consectetur libero autem nihil nulla possimus. At!</p>
           </div>
           <div class="col bg-Two">
                <h1>Product Two</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque doloremque accusamus ab dolorum dignissimos placeat expedita est similique fugit, facilis natus porro sapiente consectetur libero autem nihil nulla possimus. At!</p>
           </div>
           <div class="col bg-Three">
                <h1>Product Three</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque doloremque accusamus ab dolorum dignissimos placeat expedita est similique fugit, facilis natus porro sapiente consectetur libero autem nihil nulla possimus. At!</p>
           </div>
       </div>
    </div>

    <script src="../js/jquery.slim.min.js" ></script>
    <script src="../js/bootstrap.min.js" ></script>
</body>
</html>